
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



html{
	overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
	padding:0px;
	background-color:black;	
	margin:0px;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  
  padding:0px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#DD0000 ; 
}

/*-----TOP_HEADER------*/
.top-header{
margin:0;
top:4%;
width:100px;
overflow:hidden;
height:100px;
background-color:none;
float:left;
position: fixed;
left:0.8%;
z-index:3;
}

.top-header img{
	width:70px;
	border-radius:10px;
}


/*-----First-Section----*/
.container{
	overflow:hidden;
	margin:0px 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 15vw);
	grid-gap:10px;
	padding:80px;
	margin-bottom:70px;
	background:black;
}
.item{
background-image:url("https://ak.picdn.net/shutterstock/videos/1030784222/thumb/1.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
.item img {
	width:100%;
	height:100%;
	object-fit: cover;
}
.item img:hover{
	cursor: pointer;
	transform:scale(1.1);
	transition:0.5s;
	
}

h1{
	color:White;
	font-family:"Arial"; 
	font-weight:400;
	font-size:12vw;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	
}
.gallery h1{
	margin-top:300px;
	color:White;
		font-family: 'Poppins', sans-serif; 
	font-weight:400;
	font-size:12vw;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	
}




/*-----Second-Section----*/
.black{
	overflow:hidden;
    margin:100px 100px;
	display:flex;
	margin-left:150px;
}
.left-black-col{
	flex-basis:100%;
}
.left-black-col img{
	margin-left:0;
	width:100%;
}

.right-black-col{
	flex-basis:50%;
}
.text-container{
	padding:0;
	margin:0;

}
.text-container h1{
	color:white;
	font-family:Arial;
	font-size:3.5vw;
	position:relative;
    left:50%;
	text-align:center;
	border-bottom: 2px solid #DD0000;
	padding-bottom:20px;
	padding-right:0px;
}
.text-container p{
	background-color:transparent;
	padding:20px;
	color:#999999;
		font-family: 'Poppins', sans-serif;
	font-size:1.3vw;
	text-align:center;
	border-radius:10px;
}




/*-----Third-Section----*/
.left-third-col{
		flex-basis:45%;
	margin-left:-30px;
}

.left-third-col .text-container p{
	max-width:400px;
	background-color:#414141;
	padding:20px;
	margin-left:40px;
	color:black;
	 font-family: 'Varela Round', sans-serif;
	font-size:1.3vw;
	text-align:left;
	border-radius:10px;
}
.left-third-col .text-container h1{
	max-width:500px;
	max-height:300px;
	color:white;
	font-family:Arial;
	font-size:2.3vw;
	text-align:left;
	text-transform: uppercase;
}
.right-third-col img{
	margin:0px;
	width:100%;
}

.right-third-col{
		flex-basis:55%;
}
.cover{
	display:flex;
	
}




/*---------HELVETICA-20-----------*/
.crew-container{
	overflow:hidden;
	margin:0px 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 15vw);
	grid-gap:10px;
	padding:80px;
	margin-bottom:70px;
	background:black;
}

.crew-content img {
	
	width:100%;
	height:100%;
	object-fit: cover;
	
}
.crew-content p{
	color:white;
	font-size: 18px;
	text-align:center;
}
.crew h1{
	color:white;
	font-family:"Arial"; 
	font-weight:400;
	font-size:8.5vw;
	position:absolute;
	left:32%;
	transform:translateX(-20%);
	text-align: center;
	margin-top:380px;
}
.crew-content{
	background-image:url("https://viztvdocumentaryfilms.com/wp-content/uploads/Red-black-gradient-destop-wallpaper.png");
	background-attachment:fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.crew img:hover{
	cursor:pointer;
	transform: scale(1.1);
	transition:0.5s;
} 

.helvetica-title{
	color:#999999;
	background-color:transparent;
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size:1.3vw;
	text-align:center;
	height:50px;
	grid-column-start: 1;
	grid-column-end: 5;
	border-radius:10px;
	padding:20px;
}

.crew-content:nth-child(2){
	grid-column:1/3;
	grid-row:1/2;
}
.crew-content:nth-child(10){
	grid-column:4/5;
	grid-row:2/5;
}
.crew-content:nth-child(12){
	grid-column:2/4;
	grid-row:4/5;
	height:250px;
}


/*---Navigation-menu---*/
#topnav{
	overflow:hidden;
	z-index:2;
	position: fixed;
	top:-1000px;
	right:0;
	width:100vw;
	height:350px;
	background-color:#DD0000;
	border-radius:0 0 10px 10px;
	transition: 0.8s;
	padding-bottom: 40px;
}
ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-50%);
	margin-right:0;
	margin-top: 0;
	
}

nav ul li{
	list-style: none;
	padding:20px 0px;
	align-items:center;
	text-align:center;
}
nav ul li a{
	font-size:2.5vh;

    font-family: 'Poppins', sans-serif;
	color:black;
	padding:10px;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}




/*---Menu-button---*/
#menubtn{
	width:1.7vw;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:20px;
	cursor: pointer;
	z-index:2;
	background-color:#DD0000;
}

nav ul li a:hover{

	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
	color:white;
}
ul li a i{
	padding-left:10px;
}




/*------SOCIAl-ICONS-----*/
.social-icons{
	
	background:rgba(255,255,255,0.3);
	border-radius: 10px;
	position: fixed;
	padding-top:150px;
	height:350px;
	width:70px;
	top:50%;
	transform: translateY(-50%);
	left:0.7%;
	z-index:2;
	
}

.social-icons i{
	color:white;
	font-size:2vw;
	padding:0px;
	margin:20px 0;
	cursor: pointer;
	width:70px;
	text-align:center;
}

.social-icons i:hover{
	transform: scale(2.5);
	transition:0.3s;
	color:#35d0ba;
}

/*-----FIXED-BG------*/
.BG-1{
	overflow:hidden;
	margin:0px 80px;
	background:transparent;
	width:100%;
	min-height: 700px;
}
.BG-1 h2{
	color:white;
	font-family:sans-serif;
	font-weight:400;
	font-size:5vw;
	margin-left:50px;
	padding-top:100px;
	border-bottom:2px solid #DD0000;
	width:600px;
}

.BG-1 p{
	color:#999999;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	font-size:1.3vw;
	margin-left:50px;
	padding:20px;
	max-width:500px;
	background-color:transparent;
	border-radius:10px;
}

.BG-2{
	overflow: hidden;
	display:block;
	background:transparent;
	width:100%;
	height:700px;
	background-position: center;
	margin-bottom:100px;
}
.BG-2-left{

}

.BG-2-right{

}

.BG-2-right h2{
	max-width:100%;
	color:white;
	font-family:sans-serif;
	font-weight:400;
	font-size:5vw;
	margin-top:100px;
	border-bottom:2px solid #DD0000;
	width:700px;
    margin-left:50%;
    transform: translateX(-50%);
    text-align: center;
    font-variant-caps: all-small-caps;
}

.BG-2-left p{
	color:#999999;
   	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:18px;
	padding:20px;
	margin-left:50%;
    transform: translateX(-50%);
	margin-top:50px;
	max-width:400px;
	background-color:transparent;
	border-radius:10px;
    text-align: center;
}




/*------SWIPER_GALLERY------*/
 .swiper-container {
	 overflow:hidden;
	 margin-top:200px;
     width: 100%;
	 height:500px; 
     padding-top:100px;
	 padding-bottom: 50px;
	 margin-bottom:80px;
	 background-image:url("https://i.pinimg.com/originals/dc/77/7c/dc777c9276fe0ed2bc99c398ca1c744f.jpg");
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
    }

.new{
	 overflow:hidden;
	 margin-top:200px;
     width: 100%;
	 height:500px; 
     padding-top:200px;
	 padding-bottom: 50px;
	 margin-bottom:80px;
	 background-image: url("https://image.freepik.com/free-photo/red-color-powder-explosion-black-background-freeze-motion-red-dust-particles-splashing_36326-2077.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.swiper-slide {
      background-position: center;
      background-size: cover;
      width:auto;
	  height:auto;
      background:transparent;
    }
    
.imgbx img{ 
	max-width:650px;
	align-items: center;
	text-align: center;
	align-content: center;
	max-height:450px;
    background:transparent;
}
.details{
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
	padding-top:0;
	max-height:50px;
	margin:0;
    font-family: 'Poppins', sans-serif;
	font-size:0.9vw;
	font-variant:small-caps;
	color:#595959;
}
.swiper-title{
	width:900px;
	margin:50px 0px;
	
}
.swiper-title h1{
	color:#999999;
	font-weight:200;
    font-family: 'Poppins', sans-serif;
	font-size:2.5vw;
	padding:0px 80px; 
	margin:0 auto;
	border-bottom: 2px solid #DD0000;
	padding-bottom:20px;
}


/*-----FOOTER----*/
#footer{
	padding-top:20px;
	height:300px;
	width:100%;
	background-color:black;
	display: inline-block;
}
.footer-container a{
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
	margin-top:10px;
  	font-family: 'Poppins', sans-serif;
}
.links{
	margin-left:50%;
	transform: translateX(-24%);
	width:100%;
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
	width:90px;
	margin-left:50%;
	transform:translateX(-50%);
	margin-top:50px;
	
}

.footer-container .rights{
	color:white;
	margin-left:56%;
	transform:translateX(-40%);
    font-family: 'Poppins', sans-serif;
}
.footer-container p{
	color:white;
	font-family: 'Poppins', sans-serif;
	margin-left:0px;
	font-size:13px;
}
.made{
width:300px;
margin-top:70px;
margin-left:70px;
	
}
.fa-heart{
	color:red;
}
.made a{
	font-size:13px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:normal;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}

.new-title h1{
	width:600px;
	padding-bottom:50px;
	text-align:center;
	font-size:50px;
	margin-bottom:30px;
    font-family: 'Montserrat Subrayada', sans-serif;
    border-bottom:none;
}
.new-title span{
	color:#DD0000;
    font-family: 'Covered By Your Grace', cursive;
    border-bottom:none;
    padding:0px 100px;
    font-size:100px;
}

.gotopbtn{
   position: fixed;
  width: 50px;
  height: 50px;
  background:rgba(255,255,255,0.3);
  bottom:8%;
  left:1.3%;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  margin-top:0px;
  z-index:10;
}



/*-------------FOR-MOBILE----------------*/



@media all  and (max-width:600px)
{ 

	.container{
		
	grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
	grid-gap:10px;
    margin:0 auto;
    padding-left:57px;
	padding-top:55px;
	padding-right:30px;
	}

	.item{
		width:auto;
		height:200px;
		background-image:url("https://ak.picdn.net/shutterstock/videos/1030784222/thumb/1.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.social-icons{
		top:275px;
		width:40px;
		padding-top:100px;
        height:350px;
		margin-top:15px;
        left:5px;
	}
	
	.social-icons i{
	color:white;
	font-size:25px;
	padding-left:5px;
	margin:20px 0;
	cursor:pointer;
	width:30px;
	text-align:center;
     }
	
	.top-header{
		width:60px;
		overflow:hidden;
		height:60px;
		background-color:none;
		float:left;
		position: fixed;
		z-index:3;
		margin-top:5px;
}
	
   .top-header img{
        position: fixed;
        left:1%;   
        top:1%;
		width:45px;
		border-radius:15px;
		margin:0px;
   }
	
	.gallery-title{
	  text-align: center;
	  padding:10px 30px;
	  margin-left:10px;
	  margin-right:20px;
	  font-size:60px;
        margin-top:80%;
	}
	
	
	
	/*-----Second-Section----*/
.black{
	overflow:hidden;
    margin:0px 0px ;
	margin-top:0px;
	padding-bottom:100px;
	display:flex;
	margin-left:0px;
	height:200px;
}
.left-black-col{
	flex-basis:60%;
}
.left-black-col img{
	margin-left:0;
	width:175%;
    height:200px;
}

.right-black-col{
	margin-top:-10px;
	flex-basis:40%;
}
.text-container{
	padding:0;
	margin:0;

}
.right-black-col .text-container h1{
	margin-top:90px;
	color:white;
	font-family:Arial;
	font-size:15px;
	position:relative;
    left:50%;
	text-align:center;
	border-bottom: 2px solid #DD0000;
	padding-bottom:20px;
	padding-right:0px;
	max-width:100px;
}
.text-container p{
	margin-top:30px;
	margin-left:55px;
	height:10px;
	width:240px;
	position: absolute;
	left:0;
	background: transparent;
	padding:20px;
	color:#999999;
  	font-family: 'Poppins', sans-serif;
	font-size:10px;
	text-align:center;
	border-radius:10px;
	font-variant:small-caps;
}

	/*-----FIXED-BG------*/
.BG-1{

	margin:0px;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://i.pinimg.com/originals/fb/60/7d/fb607dd8f69e0520bfec15c4ef19aa6d.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	min-height: 500px;
}
.BG-1 h2{
	color:white;
	font-family:sans-serif;
	font-weight:400;
	font-size:35px;
	margin-left:52%;
	transform: translateX(-50%);
	padding-top:100px;
	border-bottom:2px solid #DD0000;
	width:280px;
}

.BG-1 p{
	color:white;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	font-size:13px;
	margin-top:60px;
	margin-left:60px;
	margin-right:50px;
	padding:20px;
	max-width:500px;
	background:transparent;
	border-radius:10px;
	text-align: center;
}

.BG-2{
	margin-top:0px;
	display:block;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.clipart.email/6b1b4c0a912a24ceedb1c647a2999a9b_the-choreographer-teaches-children-the-ballet-on-stage-in-the-dark-_1920-1080.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height:550px;
	background-position: center;
	margin-bottom:100px;
}
.BG-2-left{
	
}

.BG-2-right{
	
}

.BG-2-right h2{
	position:absolute;
	margin-left:50%;
	text-align: center;
	transform: translateX(-45%);
	max-width:80%;
	color:white;
	font-family:sans-serif;
	font-weight:400;
	font-size:30px;
	margin-top:90px;
	border-bottom:2px solid #DD0000;
	width:250px;
	padding-bottom:15px;
    font-variant: small-caps;
}

.BG-2-left p{
	flex-basis:50%;
	color:#999999;
 	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:13px;
	padding:20px;
	margin-top:220px;
	margin-left:52%;
    transform: translateX(-50%);
	margin-right:0px;
	background:transparent;
	border-radius:10px;
	width:250px;
    text-align: center;
}

	
	/*---------HELVETICA-20-----------*/
.crew-container{
   grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
	grid-gap:10px;
    margin:0 auto;
    padding-left:57px;
	padding-top:55px;
	padding-right:30px;
}

.crew-content img {
	
	object-fit: cover;
}
.crew-content p{
	color:white;
	font-size: 18px;
	text-align:center;
}
.crew h1{
	color:white;
	font-family:"Arial"; 
	font-weight:400;
	font-size:40px;
	position:absolute;
	margin-left:20%;
	transform:translateX(-50%);
	text-align: center;
	margin-top:380px;
	width:300px;
}
.crew-content{
	   width:auto;
		height:200px;
		background-image:url("https://viztvdocumentaryfilms.com/wp-content/uploads/Red-black-gradient-destop-wallpaper.png");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	    padding-bottom:0px;
}
.crew img:hover{
	cursor:pointer;
} 

	

.crew-content:nth-child(2){
	grid-column:2/3;
	grid-row:1/2;
}
.crew-content:nth-child(10){
	grid-column:2/3;
	grid-row:5/6;
}
.crew-content:nth-child(11){
	grid-column:1/2;
	grid-row:6/7;
}
.crew-content:nth-child(12){
	grid-column:2/3;
	grid-row:6/7;
	height:auto;
}

	
.helvetica-title{
	color:white;
	background-color:transparent;
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size:13px;
	text-align:center;
	height:65px;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius:10px;
	padding:20px;
}

/*------SWIPER_GALLERY------*/
 .swiper-container {
	 overflow:hidden;
	 margin-top:100px;
     width: 100%;
	 height:380px; 
     padding-top:100px;
	 padding-bottom: 80px;
	 margin-bottom:80px;
	 background-image:url("https://i.pinimg.com/originals/dc/77/7c/dc777c9276fe0ed2bc99c398ca1c744f.jpg");
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      width:auto;
	  height:auto;
      background:transparent;
    }
    
.imgbx img{ 
	max-width:250px;
	align-items: center;
	text-align: center;
	align-content: center;
	max-height:300px;
    background:transparent;
}
.details{
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
	max-height:70px;
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size:10px;
	font-variant:small-caps;
	color:#595959;
}
.swiper-title{
	width:100%;
	margin:50px 0px;
	
}
.swiper-title h1{
	color:#999999;
	width:150px;
	font-weight:200;
	font-family:sans-serif;
	font-size:30px;
	padding:0px 30px; 
	margin:0 auto;
	text-align: center;
	border-bottom: 2px solid #DD0000;
	padding-bottom:20px;
}
	
.new{
	 background-image: url("https://image.freepik.com/free-photo/red-color-powder-explosion-black-background-freeze-motion-red-dust-particles-splashing_36326-2077.jpg");
	background-attachment: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	height:250px;
	padding-top:50px;
	padding-bottom: 50px;
	}
	
.new-title h1{
	width:270px;
	padding-left:0px;
	padding-right:0px;
	text-align: center;
	font-size:25px;
	border-bottom:2px solid #DD0000;
	margin-left:5%;
 	font-family: 'Poppins', sans-serif;

}
	
/*---Menu-button---*/
#menubtn{
	width:20px;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:10px;
	cursor: pointer;
	z-index:2;
	background-color:#DD0000;
}

nav ul li a:hover{

	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
	color:white;
}
ul li a i{
	padding-left:10px;
}
/*---Navigation-menu---*/
#topnav{
	overflow:hidden;
	z-index:2;
	position: fixed;
	top:-1000px;
	right:0;
	width:100vw;
	height:300px;
	background-color:#DD0000;
	border-radius:0 0 10px 10px;
	transition: 0.6s;
	padding-bottom: 40px;
}
ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-55%);
	margin-right:0;
	margin-top: 0;
	
}

nav ul li{
	width:200px;
	list-style: none;
	padding:20px 40px;
	align-items:center;
	text-align:center;
}
nav ul li a{
	font-size:13px;

    font-family: 'Poppins', sans-serif;
	color:black;
	padding:20px;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}

	
	
	
	
/*-----Third-Section----*/
	.cover{
	display:flex;
	
}

#Third .black{
	 
		margin-top:100px;

	}
.left-third-col{
	flex-basis:55%;
}
	right-third-col{
		
		flex-basis:45%;
	}
.left-third-col .text-container p{
	background-color:#414141;
	margin-top:20px;
	padding:20px;
	margin-left:60px;
    width:250px;
	height:auto;
	color:white;
		font-family: 'Poppins', sans-serif;
	font-size:10px;
	text-align:left;
	border-radius:10px;
}
.left-third-col .text-container h1{
	position:relative;
	max-width:200px;
	max-height:200px;
	margin-left:90px;
	margin-top:20px;
	left:50px;
	color:white;
	font-family:Arial;
	font-size:13px;
	text-align:left;
	text-transform: uppercase;
}
.right-third-col img{
	margin-left:0;
	width:180%;
    height:200px;
}


	/*-----FOOTER----*/
#footer{

	padding-top:10px;
	height:250px;
	width:100%;
	background-color:black;
	display: inline-block;
}
	.footer-container{

	}
.footer-container a{
	
	display: block;
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
    padding-top:0px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size:13px;
}
.links{
			
	margin:10px 0px;
	margin-top:50px;
	margin-left:50%;
	width:50%;
	transform:translateX(-50%);
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
		
	margin-left:50%;
	transform:translateX(-50%);
	margin-top:20px;
	
}


.footer-container .rights{
	color:white;
	width:250px;
	font-size:10px;
	margin-left:50%;
	transform: translateX(-50%);
	font-family: 'Poppins', sans-serif;
}
.footer-container p{
	margin-top:30px;
	font-size:10px;
	color:white;
	font-family: 'Poppins', sans-serif;
	margin-left:0px;
	padding-bottom:20px;
}
	.made{
	 position: absolute;
     float:left;
	 left:10px;
	}
.fa-heart{
	color:red;
}
.made a{
	font-size:10px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:none;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	text-align:center;
	}

    .gotopbtn{
  position: fixed;
  width: 40px;
  height: 30px;
  background:rgba(255,255,255,0.3);
  bottom: 100px;
  left: 5px;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 21px;
  padding-bottom:10px;
  z-index:10;
}



}
