
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html{
	overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
	background-color:black;
	margin:0;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
  
  padding:0px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#DD0000 ; 
}

/*----LOADER------*/
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width:900px
}

.loader.hidden {
    animation: fadeOut 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 1;
        visibility: hidden;
    }
	
	
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}



/*-----TOP_HEADER------*/


.top-header{
margin:0;
top:4%;
width:100px;
overflow:hidden;
height:100px;
background-color:none;
float:left;
position: fixed;
left:0.8%;
z-index:3;
}

.top-header img{
	width:70px;
	border-radius:10px;
}

/*---NAVIGATION-MENU---*/
#topnav{
	position: fixed;
	right:0;
	top:-1000px;
	width:100vw;
	height:350px;
	background-color:#DD0000;
	border-radius:10px 0px 10px 0 ;
	transition: 0.6s;
	padding-bottom: 40px;
	z-index:2;
}
ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-50%);
	margin-right:0;
	margin-top: 0;
}

nav ul li{
	list-style: none;
	padding:20px 0;
	align-items:center;
	text-align:center;
}
nav ul li a{
	font-size:2.5vh;
	font-family: 'Poppins', sans-serif;
	color:black;
	padding:0;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}

nav ul li a:hover{
color:white;
	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
}
ul li a i{
	padding-left:10px;
}

/*---Menu-button---*/

#menubtn{
	width:2vw;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:20px;
	cursor: pointer;
	z-index: 2;
	background-color:#DD0000;
}




/*----LETS-G0----------*/
.header-container{

	overflow: hidden;
	display:flex;
	height:35vh;
	width:100vw;
	background-color:#DD0000;
	line-height:7vw;
	position:absolute;
	top:0;
	transition-delay:0.5sec;
}

.header-container h1{
	font-size:7vw;
	color:white;  
	font-family: 'Poppins', sans-serif;
	position:absolute;
	margin-left:50%;
	transform:translateX(-50%);
	-webkit-animation: colorchange 10s infinite;
}


    @-webkit-keyframes colorchange {
      0% {
        
        color:#272121;
      }
      
      10% {
        
        color:#272121;
      }
      
	   20% {
        
        color:	 #3d0003;
      }
       25% {
        
        color:	 #3d0003;
      }
      
      30% {
        
        color: #443737;
      }
      
     
      40% {
        
        color: #443737;
      }
      
      50% {
        
        color:#F8F8F8;
      }
      
      60% {
        
        color:#F8F8F8;
      }
      
      70% {
        
        color:#1e1e1e;
      }
      80% {
     
        color:#1e1e1e;
      }
      
      90% {
     
        color:#ff4d00;
      }
      
      100% {
        
        color:#ff4d00;
      }

    }



.slider{
	box-sizing: border-box;
	height:750px;
	width:500px;
	overflow:hidden;
	border: 2px solid #DD0000;
	background: url("https://images.unsplash.com/photo-1536129808005-fae894214c73?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
	background-size:cover;
	background-repeat: no-repeat;
	-webkit-animation: slide 20s infinite;
	font-family: 'Poppins', sans-serif;
	font-size:5vw;
	color:#505050;
}
.slider h3{
	-webkit-animation: colorchange 10s infinite;
}
.slider span{
	color:white;
}
@keyframes slide
{  10%{
		background: url("https://images.unsplash.com/photo-1592252054006-0570a10f0838?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	20%{
		background: url("https://images.unsplash.com/photo-1555489401-79c274997434?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	30%{
		background: url("https://images.unsplash.com/photo-1541904845547-0eaf866de232?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	
	
	40%{
		background: url("https://images.unsplash.com/photo-1511843395354-8f364cfb80d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
		background-size:cover;
		background-repeat: no-repeat;
	}50%{
		background: url("https://images.unsplash.com/photo-1555489387-f7fa3290a63b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size:cover;
		background-repeat: no-repeat;
	}
	
	60%{
		background: url("https://images.unsplash.com/photo-1549983657-ef26aa2d2043?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	70%{
		background: url("https://images.unsplash.com/photo-1579336199098-00ac7bb05123?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
	}80%{
		background: url("https://images.unsplash.com/photo-1520367445093-50dc08a59d9d?ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	90%{
		
		background: url("https://images.unsplash.com/photo-1540324155974-7523202daa3f?ixlib=rb-1.2.1&w=1000&q=80");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	
	
	100%{
		
		background: url("https://i.pinimg.com/originals/d8/8c/3e/d88c3efef8f4b4fd5a1be8baa7fee15c.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
}

#slider-and-content
{    background-image:url("https://image.freepik.com/free-photo/smoke-black-background_49043-499.jpg");
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	padding:100px 0px 50px 0px;
	margin-top:0px;
}
.features-row
{   text-align: center;
	display: flex;
	width:100%;
	margin:auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.features-col{
 text-align: center;
 color:white;
 flex-basis: 30%;
 text-align:center;
}
.col-2{
	flex-basis: 30%;
}

.features-col h1{
		font-family: 'Poppins', sans-serif;
	text-align:left;
	font-size:2.5vw;
	margin-top:0px;
	margin-left:100px;
	padding:20px 0px;
	padding-left:50px;
	color: #505050;

}


.features-col span{
	color:white;
}

.features-col img{
	float:left;
	padding:0px;
}

@keyframes colornext
{  0%{
	color:aqua;
	}
	
	
	50%{ color:#505050;
		
	}
	
	100%{
		color:orange;
	}
	
}

.features-col .p1{
	font-size:1.1vw;
	font-family: 'Poppins', sans-serif;
	max-width:300px;
	text-align:left;
	margin-left:95px;

}

.features-col .p2{
	font-size:1.1vw;
	font-family: 'Poppins', sans-serif;
	max-width:300px;
	text-align:left;
	margin-left:50px;

}
.features-col h2{
	color:#505050;
	max-width:330px;
	padding-top:70px;
	font-size:3vw;
	font-weight:400;
	font-family: sans-serif;
	padding-bottom:30px;
	padding-right:none;
    border-bottom:2px solid #DD0000;
	text-align:left;
	margin-left:30px;

}
/*---------Instructors---------*/

#instructor{
	margin:0px 80px;
	margin-left:130px;
}
.instructor-row
{   
    text-align: center;
	display: flex;
	width:100%;
	margin:auto;
	justify-content: space-around;
	flex-wrap: wrap;
}
.instructor-col{
 height:950px;
 text-align: center;
 color:white;
 flex-basis: 23%;
 text-align:center;
 border: 4px solid #393e46;
 cursor: zoom-in;
 transition: transform 1s ease;
}
.instructor-col img{
	padding-top:80px;
	width:80%;
	height:350px;
	
}
.instructor-col:hover{
	cursor:pointer;
}

.instructor-col h4:hover{
	cursor:pointer;
}
#instructor h2{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://hdwallpaperim.com/wp-content/uploads/2017/08/22/453060-space-space_art-stars-planet-nebula-galaxy.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	border: 2px solid black;
	text-align: center;
	color:#999999;
	font-weight:200;
		font-family: 'Poppins', sans-serif;
	font-size:2vw;
	padding:5px 50px;
	margin: 50px 100px;
}
.instructor-col h4{
	font-family: 'Poppins', sans-serif;
	font-size:1vw;
	text-align:center;
	color:#fce38a;
}
.instructor-col p{
	padding:0px 20px;
font-family: 'Poppins', sans-serif;
    line-height:23px;
	font-size:1vw;
	max-width:250px;
	text-align:center;
	margin-left:10px;
}
.instructor-col:active{
	transform:scale(1.2);
	background-color:#505050;
    margin:0 auto;
	cursor: zoom-out;
	object-fit:scale-down;
}


/*----HYSTORY-----*/
#hystory{
	
	margin:80px 0px;
	
}
.hystory-row{
	display: flex;
	flex-wrap: wrap;
}
.hystory-col-left{
	flex-basis: 50%;
}

.hystory-col-right{

	flex-basis: 50%;
}
.hystory-col-left img{
	width:90%;
}


.hystory-col-right h1{
	float:right;
	margin-right:125px;
	margin-top:80px;
	font-family: 'Poppins', sans-serif;
	font-size:4vw;
	color:white;
}

.hystory-col-right p{
	
	float:right;
	margin-right:100px;
	max-width: 400px;
	font-family: 'Poppins', sans-serif;
    line-height:30px;
	font-size:1.2vw;
	color:white;
	
}
.under-line{
  height:3px;
  width:280px;
  background-color:#DD0000;
  position:absolute;
  right:130px;
  margin-top:140px;
}

/*------SOCIAl-ICONS-----*/
.social-icons{
	
	background:rgba(255,255,255,0.3);
	border-radius: 10px;
	position: fixed;
	padding-top:150px;
	height:350px;
	width:70px;
	top:50%;
	transform: translateY(-50%);
	left:0.7%;
	z-index:2;
	
}

.social-icons i{
	color:white;
	font-size:2vw;
	padding:0px;
	margin:20px 0;
	cursor: pointer;
	width:70px;
	text-align:center;
}

.social-icons i:hover{
	transform: scale(2.5);
	transition:0.3s;
	color:#35d0ba;
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:rgba(255,255,255,0.3);
  left:20px;
  bottom:8%;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  margin-top:20px;
  z-index:10;
}



/*------SWIPER_CREW------*/
 .swiper-container {
	 margin-top:0px;
     width: 100%;
	 height:400px; 
     padding-top: 100px;
	 padding-bottom: 150px;
	 margin-bottom:0px;
	 background:transparent;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width:600px;
	  height:400px;
      background:#fff;
     justify-content: center;
    }
.imgbx img{ 
    width:550px;
   
	margin:25px;
     margin-top:0px;
	padding:20px;
	height:300px;
    padding-left:0px;

}
.details{
	position:fixed;
	bottom:0;
	text-align:center;
	width:95%;
	background:white;
	max-height:50px;
	margin:0;
    font-family: 'Poppins', sans-serif;
	font-size:0.9vw;
	font-variant:small-caps;
	color:#595959;
    padding-bottom:20px;
    margin:10px;
}

.swiper-title{

}
.swiper-title h1{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://ak.picdn.net/shutterstock/videos/1030784222/thumb/1.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	border: 2px solid black;
	text-align: center;
	color:#999999;
	font-weight:200;
    font-family: 'Poppins', sans-serif;
	font-size:2vw;
	padding:5px 0px;
	margin:150px 150px 50px;
}




.new-big{
	display:flex;
	flex-basis:100%;
	flex-wrap: wrap;
	background:transparent;
	background-color:rgba(0,0,0,0.45);
	padding:0;
	margin:0;
	padding-bottom:100px;
}
.new-big h2{
	
	color:white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:4vw;
	text-align:center;
	padding:0;
	margin-top:30%;
	margin-left:50%;
	transform:translateX(-50%);

}
.nss-logo {
	width:100px;
	height:50px;
	margin-left:47%;
}
.new-big p{
	color:white;
	font-size:1.5vw;
	text-align:center;
	padding:0;
	margin-left:50%;
	transform:translateX(-50%);
	font-family: 'Poppins', sans-serif;
}



 #rdc-image{
        width:200px;
        margin-left:50%;
	 	transform:translateX(-50%);
        margin-bottom:20px;
    }
/*----Buttons-list------*/
.button-container{
    width:100%;
    padding-top:50px;
    margin-left:65%;
    transform:translateX(-50%);
}
.btn{
    width:150px;
    height:50px;
    border-radius:12px;
    background-color:#333333;
    color:white;
    border:none;
font-family: 'Poppins', sans-serif;
     margin:0px 15px;
    font-variant:small-caps;
    outline:none;
}
.btn:hover{
    transform:scale(1.2);
    cursor: pointer;
    transition:0.5s;
    background-color:#1e1e1e;
    color:aqua;
    box-shadow:  10px 10px 70px #1d1d1d, 
             -5px -5px 50px aqua,
              10px -10px 80px #1e1e1e;
}


/*-----FOOTER----*/
#footer{
	padding-top:20px;
	height:300px;
	width:100%;
	background-color:black;
	display: inline-block;
}
.footer-container a{
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
	margin-top:10px;
 font-family: 'Poppins', sans-serif;
}
.links{
	margin-left:50%;
	transform: translateX(-24%);
	width:100%;
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
	width:90px;
	margin-left:50%;
	transform:translateX(-50%);
	margin-top:50px;
	
}

.footer-container .rights{
	color:white;
	margin-left:55%;
	transform:translateX(-40%);
	font-family: 'Poppins', sans-serif;
}
.footer-container p{
	color:white;
   font-family: 'Poppins', sans-serif;
	margin-left:0px;
	font-size:15px;
}
.made{
width:300px;
margin-top:70px;
margin-left:70px;
font-size:12px;	
}
.fa-heart{
	color:red;
}
.made a{
	font-size:13px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:normal;
	padding:0px;
    font-family: 'Poppins', sans-serif;
	text-align:center;
}





/*------------FOR-MOBILE--------*/


@media all  and (max-width:600px)
{  
	
	/*-----RDC-LOGO------*/
	.top-header{
		width:60px;
		overflow:hidden;
		height:50px;
		background-color:none;
		float:left;
		position: fixed;
		z-index:3;
		margin-top:5px;
}
	
	   .top-header img{
        position: fixed;
        left:1%;   
        top:1%;
		width:45px;
		border-radius:15px;
		margin:0px;
	   }
	
	
/*---Menu-button---*/
#menubtn{
	width:20px;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:10px;
	cursor: pointer;
	z-index:2;
	background-color:#DD0000;
}

nav ul li a:hover{

	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
	color:white;
}
ul li a i{
	padding-left:10px;
}

	
	/*---Navigation-menu---*/
#topnav{
	overflow:hidden;
	z-index:2;
	position: fixed;
	top:-1000px;
	right:0;
	width:100vw;
	height:300px;
	background-color:#DD0000;
	border-radius:0 0 10px 10px;
	transition: 0.6s;
	padding-bottom: 40px;
}
ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-55%);
	margin-right:0;
	margin-top: 0;
	
}

nav ul li{
	width:200px;
	list-style: none;
	padding:20px 40px;
	align-items:center;
	text-align:center;
}
nav ul li a{
	font-size:13px;

	font-family: 'Poppins', sans-serif;
	color:black;
	padding:20px;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}


	
/*----LETS-G0----------*/
.header-container{

	overflow: hidden;
	display:flex;
	height:150px;
	width:100vw;
	background-color:#DD0000;
	line-height:7vw;
	position:absolute;
	top:0;
	transition-delay:0.5sec;
}

.header-container h1{
	width:300px;
	font-size:45px;
	color:white;  
	font-family:"Arial";
	position:absolute;
	margin-top:50px;
	margin-left:50%;
	transform:translateX(-40%);
	-webkit-animation: colorchange 10s infinite;
}

	
	
/*-----NEW-BIG-----*/
	
.new-big{
	position:relative;
	top:160px;
	height:450px;
	display:flex;
	flex-basis:100%;
	flex-wrap: wrap;
	background:transparent;
	background-color:rgba(0,0,0,0.45);
	padding:55px 0px;
	margin:0;
}
.new-big h2{
	color:white;
	font-family:"arial";
	font-weight: 400;
	font-size:28px;
	text-align:center;
	padding:0;
	margin-top:40px;
	margin-left:44%;
	transform:translateX(-35%);
    width:300px;
	margin-bottom:0px;
}

.new-big p{
	color:white;
	font-size:13px;
	text-align:center;
	padding:0;
	margin:0px;
	margin-bottom:20px;
	margin-left:40%;
	transform:translateX(-30%);
	font-family: 'Poppins', sans-serif;
    line-height:20px;
}
	.rep{
		width:250px;
		margin-left:0px;
	}

.nss-logo{
		width:60px;
	    height:30px;
		margin-left:50%;
		transform:translateX(-50%);
		margin-top:0px;
	}
    #rdc-image{
        width:80px;
        margin-left:50%;
	 	transform:translateX(-50%);
        margin-bottom:20px;
    }


/*----SOCIAL-ICONS-----*/
	.social-icons{
		top:275px;
		width:40px;
		padding-top:100px;
        height:350px;
		margin-top:10px;
        left:5px;
	}
	
	.social-icons i{
	color:white;
	font-size:25px;
	padding-left:5px;
	margin:20px 0;
	cursor:pointer;
	width:30px;
	text-align:center;
     }
	
	/*---SLIDER-CONTENT------*/
	.slider{
	box-sizing: border-box;
	height:300px;
	width:187.5px;
	overflow:hidden;
	border: 2px solid #DD0000;
	background: url("https://images.unsplash.com/photo-1536129808005-fae894214c73?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
	background-size:cover;
	background-repeat: no-repeat;
	-webkit-animation: slide 20s infinite;
	font-family: 'Poppins', sans-serif;
	font-size:0px;
	color:#505050;
}
.slider h3{
	-webkit-animation: colorchange 10s infinite;
}
.slider span{
	color:white;
}
@keyframes slide
{  10%{
		background: url("https://images.unsplash.com/photo-1592252054006-0570a10f0838?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	20%{
		background: url("https://images.unsplash.com/photo-1555489401-79c274997434?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	30%{
		background: url("https://images.unsplash.com/photo-1541904845547-0eaf866de232?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	
	
	40%{
		background: url("https://images.unsplash.com/photo-1511843395354-8f364cfb80d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
		background-size:cover;
		background-repeat: no-repeat;
	}50%{
		background: url("https://images.unsplash.com/photo-1555489387-f7fa3290a63b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size:cover;
		background-repeat: no-repeat;
	}
	
	60%{
		background: url("https://images.unsplash.com/photo-1549983657-ef26aa2d2043?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	70%{
		background: url("https://images.unsplash.com/photo-1579336199098-00ac7bb05123?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-size: cover;
		background-repeat: no-repeat;
	}80%{
		background: url("https://images.unsplash.com/photo-1520367445093-50dc08a59d9d?ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	90%{
		
		background: url("https://images.unsplash.com/photo-1540324155974-7523202daa3f?ixlib=rb-1.2.1&w=1000&q=80");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	
	
	100%{
		
		background: url("https://i.pinimg.com/originals/d8/8c/3e/d88c3efef8f4b4fd5a1be8baa7fee15c.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		
	}
}

#slider-and-content
{    
	background-image:url("https://image.freepik.com/free-photo/smoke-black-background_49043-499.jpg");
	 background-attachment: fixed;
	 background-size: cover;
	 background-repeat: no-repeat;
	 padding:100px 0px 50px 0px;
	 margin-top:160px;
}
.features-row
{   text-align: center;
	display:block;
	width:100%;
	margin:auto;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left:50px;
}

.features-col{
	
 text-align: center;
 color:white;
 text-align:center;
}
.col-1{ 
		margin-left:10px;
	}
.col-2{
	margin-top:20px;
	margin-left:45%;
	transform:translateX(-50%);
}

.features-col h1{
	font-family:"Arial";
	text-align:left;
	font-size:20px;
	margin-top:0px;
	margin-left:10px;
	padding:20px 0px;
	padding-left:0px;
	color: #505050;

}


.features-col span{
	color:white;
}


@keyframes colornext
{  0%{
	color:aqua;
	}
	
	
	50%{ color:#505050;
		
	}
	
	100%{
		color:orange;
	}
	
}

.features-col .p1{
	font-size:13px;
font-family: 'Poppins', sans-serif;
    line-height:20px;
	max-width:300px;
	text-align:left;
	margin-left:10px;
	margin:0;

}

.features-col .p2{
	font-size:13px;
font-family: 'Poppins', sans-serif;
    line-height:16px;
	max-width:300px;
	text-align:left;
    margin:0px;
	margin-left:10px;
	
}
.features-col h2{
	color:#505050;
	max-width:150px;
	padding-top:20px;
	font-size:20px;
	font-weight:400;
	font-family: sans-serif;
	padding-bottom:30px;
	padding-right:none;
    border-bottom:2px solid #DD0000;
	text-align:left;
	margin-left:10px;
	margin-right:0px;
	margin-bottom:0px;

}
	
	
	
	
	
/*------SWIPER_GALLERY------*/
 .swiper-container {
	 overflow:hidden;
	 margin-top:10px;
     width: 100%;
	 height:380px; 
     padding-top:150px;
	 padding-bottom: 50px;
	 margin-bottom:80px;
	 background:transparent;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      width:auto;
	  height:210px;
      background:#fff;
    }
   .swiper-title h1{
	color:#999999;
	width:150px;
	font-weight:200;
font-family: 'Poppins', sans-serif;
	font-size:20px;
	padding:0px 30px; 
	margin:0 auto;
	text-align: center;
	border-bottom: 2px solid #DD0000;
	padding-bottom:0px;
    margin-top:100px;
    margin-bottom:0px;
} 
.imgbx img{ 
    width:260px;
	padding:20px;
	height:150px;
    margin:0px;
    background:white;
}
.details{
	position:fixed;
	text-align:center;
	width:90%;
	height:50px;
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size:10px;
	font-variant:small-caps;
	color:#595959;
    background:transparent;
    margin-left:20px;
    margin-bottom:-18px;
}

.swiper-title{
	width:270px;
	margin:50px auto;
    
}

    /*----Buttons-list------*/
.button-container{
    width:100%;
    padding-top:0px;
    margin-left:60%;
    transform:translateX(-50%);
    margin-top:-100px;
}
.btn{
    width:70px;
    height:25px;
    border-radius:5px;
    background-color:#444444;
    color:white;
    border:none;
    font-family: 'Poppins', sans-serif;
    margin:10px 15px;
    font-variant:small-caps;
     
}

/*----HYSTORY-----*/
#hystory{
	
	margin:0px 0px;
	background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("https://images.unsplash.com/photo-1495926048989-432065eaae46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding:60px 0px;
	}

.hystory-row{
	display:block;
	height:500px;
}
.hystory-col-left{
	
}

.hystory-col-right{
text-align:center;
margin-left:45%;
width:300px;
transform: translateX(-30%);
}
.hystory-col-left img{
	width:0%;
	visibility: hidden;
}


.hystory-col-right h1{
	margin-right:50%px;
	margin-left:50%;
	transform: translateX(-30%);
	margin-top:0px;
	font-family:"arial";
	font-size:20px;
	color:#999999;
	border-bottom:2px solid #DD0000;
	padding-bottom:10px;
}

.hystory-col-right p{
	margin-left:50px;
    width:190px;
font-family: 'Poppins', sans-serif;
    line-height:16px;
	font-size:12px;
	color:white;
}
.under-line{
  visibility: hidden;
}


/*---------Instructors---------*/

#instructor{
	margin:0px;
}
.instructor-row
{   
    text-align: center;
	display: grid;
	grid-template-rows:repeat(4,1fr);
	grid-template-columns:repeat(1,1fr);
	grid-gap:10px;
	width:100%;
	margin:auto;
	justify-content: space-around;
	flex-wrap: wrap;
}
.instructor-col{
 width:60%;
 height:530px;
 text-align: center;
 color:white;
 text-align:center;
 border:none;
 cursor: zoom-in;
 transition: transform 1s ease;
 margin-left:50%;
 transform:translateX(-50%);
}
.instructor-col img{
	padding-top:80px;
	width:150px;
	height:200px;
	
}
.instructor-col:hover{
	cursor:pointer;
}

.instructor-col h4:hover{
	cursor:pointer;

}
#instructor h2{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://hdwallpaperim.com/wp-content/uploads/2017/08/22/453060-space-space_art-stars-planet-nebula-galaxy.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	border:none;
	text-align: center;
	color:#999999;
	font-weight:200;
	font-family:sans-serif;
	font-size:20px;
	padding:3px 50px;
	margin:50px 0px ;
	width:200px;
	position:absolute;
	margin-left:50%;
	transform: translateX(-45%);
}
.instructor-col h4{
	font-family:"arial";
	font-size:12px;
	text-align:center;
	color:#fce38a;
}
.instructor-col p{
	padding:0px;
	font-family: 'Poppins', sans-serif;
    line-height:17px;
	font-size:11.5px;
	text-align:center;
	margin-left:0px;
}
.instructor-col:active{
	transform:scale(1);
	background-color:black;
    margin-left:50%;
    transform:translateX(-50%);
	cursor: zoom-out;
	object-fit:scale-down;
}


	

	/*-----FOOTER----*/
#footer{

	padding-top:10px;
	height:250px;
	width:100%;
	background-color:black;
	display: inline-block;
}
	.footer-container{

	}
.footer-container a{
	
	display: block;
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
    padding-top:0px;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size:13px;
}
.links{
			
	margin:10px 0px;
	margin-top:50px;
	margin-left:50%;
	transform:translateX(-50%);
	width:100%;
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
		
	margin-left:50%;
	margin-top:20px;
	
}


.footer-container .rights{
	color:white;
	width:250px;
	font-size:10px;
	margin-left:50%;
	transform:translateX(-45%);
	font-family: 'Poppins', sans-serif;
}
.footer-container p{
	margin-top:30px;
	font-size:10px;
	color:white;
font-family: 'Poppins', sans-serif;
	margin-left:0px;
	padding-bottom:20px;
}
	.made{
	 position: absolute;
     float:left;
	 left:10px;
	}
.fa-heart{
	color:red;
}
	.made a{
	font-size:8px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:none;
	padding:0px;
 font-family: 'Poppins', sans-serif;
	text-align:center;
	}
.gotopbtn{
  position: fixed;
  width: 40px;
  height: 30px;
background:rgba(255,255,255,0.3);
  bottom: 100px;
  left: 5px;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 21px;
  padding-bottom:10px;
  z-index:10;
}



}