
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


html{
	overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
	background-color:black;
	margin:0;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  
  padding:0px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#DD0000 ; 
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:rgba(255,255,255,0.3);
  bottom:8%;
  left:1.3%;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  margin-top:0px;
  z-index:10;
}


/*-----TOP_HEADER------*/
.top-logo{
margin:0;
top:4%;
width:100px;
overflow:hidden;
height:100px;
background-color:none;
float:left;
position: fixed;
left:0.8%;
z-index:3;
}

.top-logo img{
	width:70px;
	border-radius:10px;
}



/*---NAVIGATION-MENU---*/
#topnav{
	position: fixed;
	right:0;
	top:-1000px;
	width:100vw;
	height:350px;
	background-color:#DD0000;
	border-radius:10px 0px 10px 0 ;
	transition: 0.6s;
	padding-bottom: 40px;
	z-index:2;
}

ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-50%);
	margin-right:0;
	margin-top: 0;
}

nav ul li{
	list-style: none;
	padding:20px 0;
	align-items:center;
	text-align:center;
}

nav ul li a{
	font-size:2.5vh;
	font-family: 'Poppins', sans-serif;
	color:black;
	padding:0;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}

nav ul li a:hover{
color:white;
	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
}

ul li a i{
	padding-left:10px;
}



/*---Menu-button---*/
#menubtn{
	width:2vw;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:20px;
	cursor: pointer;
	z-index: 2;
	background-color:#DD0000;
}




/*------SOCIAl-ICONS-----*/
.social-icons{
	
	background:rgba(255,255,255,0.3);
	border-radius: 10px;
	position: fixed;
	padding-top:150px;
	height:350px;
	width:70px;
	top:50%;
	transform: translateY(-50%);
	left:0.7%;
	z-index:2;
	
}

.social-icons i{
	color:white;
	font-size:2vw;
	padding:0px;
	margin:20px 0;
	cursor: pointer;
	width:70px;
	text-align:center;
}

.social-icons i:hover{
	transform: scale(2.5);
	transition:0.3s;
	color:#35d0ba;
}




/*-----ABOUT-US----*/
.about-container{
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap:0px;
}
.left-about i{
	display: none;
}
.left-about{
  position: fixed;
  z-index:1;
  width:400px;
  height:100vh;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("RDC2.png");
  background-position:50px 0px;
  background-size:contain;
  background-repeat:no-repeat;
}
.right-about{
  grid-column-start: 2;
  background:black;
}


.our-journey{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://cdn-flightdec.userfirst.co.nz/uploads/sites/danz/files/News/SDNZrelease.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	height:800px;
	margin:0px;
	margin-top:-40px;
}

.our-journey h1{
	color:white;
	font-family:sans-serif;
	font-size:50px;
	font-weight:400;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:400px;
}
.our-journey p{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    line-height:27px;
	width:500px;
	margin-left:50%;
	transform: translateX(-50%);
	color:#999999;
}
.our-alumini{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/EQ5NK7OCHNAI3PBTTDA45XYCRM.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	height:800px;
	margin:0px;
	margin-top:-40px;
	
}


.our-alumini h1{
	color:white;
	font-family:sans-serif;
	font-size:50px;
	font-weight:400;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:270px;
}
.our-alumini p{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    line-height:27px;
	width:500px;
	margin-left:50%;
	transform: translateX(-50%);
	color:#999999;
}

.know-more{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://data.whicdn.com/images/220981081/original.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	height:800px;
	margin:0px;
	margin-top:-40px;
}

.know-more h1{
	color:white;
	font-family:sans-serif;
	font-size:50px;
	font-weight:400;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:400px;
}
.know-more p{
	text-align: center;
font-family: 'Poppins', sans-serif;
    line-height:27px;
	width:500px;
	margin-left:50%;
	transform: translateX(-50%);
	color:#999999;
}


/*-------CONNECTIONS-----------*/
.connections .social-icons{
	z-index:1;
	background-color:transparent;
	border-radius: 10px;
	padding:30px 0px;
	position:relative;
	height:80px;
	width:300px;
	margin-left:50%;
	transform: translateX(-50%);
	margin-top:50px;
	text-align: center;
	border-bottom:2px solid grey;
}

.connections .social-icons i{
	color:white;
	font-size:70px;
	padding:0px;
	cursor: pointer;
	width:80px;
	line-height:70px;
	text-align:center;
    z-index:1;
   
}

.connections .social-icons i:hover{
	transform: scale(1.3);
	transition:0.3s;
	color:red;
	
}

/*-----FOOTER----*/
#footer{
	position: relative;
	z-index:1;
	padding-top:50px;
	height:250px;
	width:100%;
	background-color:black;
	display: inline-block;
}
.footer-container a{
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
	margin-top:10px;
 font-family: 'Poppins', sans-serif;
}
.links{
	margin-left:50%;
	transform: translateX(-24%);
	width:100%;
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
	width:90px;
	margin-left:50%;
	transform:translateX(-50%);
	margin-top:50px;
	
}

.footer-container .rights{
	color:white;
	margin-left:60%;
	transform:translateX(-50%);
	font-family: 'Poppins', sans-serif;
}
.footer-container p{
	color:white;
	font-family: 'Poppins', sans-serif;
	margin-left:0px;
	font-size:12px;
}
.made{
float:left;
width:300px;
margin-top:50px;
margin-left:10px;
padding-left:10px;	
}
.fa-heart{
	color:red;
}
.made a{
	font-size:12px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:normal;
	padding:0px;
	padding-bottom:20px;
    font-family: 'Poppins', sans-serif;
	text-align:center;
}

/*-------FOR-MOBILE------------*/

@media all  and (max-width:600px)
{  
	
	/*-----RDC-LOGO------*/
	.top-logo{
		width:60px;
		overflow:hidden;
		height:50px;
		background-color:none;
		float:left;
		position: fixed;
		z-index:3;
		margin-top:5px;
}
	
	   .top-logo img{
			  position: fixed;
        left:1%;   
        top:1%;
		width:50px;
		border-radius:15px;
		margin:0px;
	   }
	
	
/*---Menu-button---*/
#menubtn{
	width:20px;
	padding:6px;
	position:fixed;
	border-radius: 50%;
	top:20px;
	right:10px;
	cursor: pointer;
	z-index:2;
	background-color:#DD0000;
}

nav ul li a:hover{

	font-weight:500;
	text-decoration:underline;
    font-size:3vh;
	transition:0.5s;
	color:white;
}
ul li a i{
	padding-left:10px;
}

	
	/*---Navigation-menu---*/
#topnav{
	overflow:hidden;
	z-index:2;
	position: fixed;
	top:-1000px;
	right:0;
	width:100vw;
	height:300px;
	background-color:#DD0000;
	border-radius:0 0 10px 10px;
	transition: 0.6s;
	padding-bottom: 40px;
}
ul{ display:inline-block;
	margin-left:50%;
	transform:translateX(-55%);
	margin-right:0;
	margin-top: 0;
	
}

nav ul li{
	width:200px;
	list-style: none;
	padding:20px 40px;
	align-items:center;
	text-align:center;
}
nav ul li a{
	font-size:13px;
   font-family: 'Poppins', sans-serif;
	color:black;
	padding:20px;
	font-weight:300;
	text-decoration: none;
	cursor: pointer;
	font-variant:  small-caps;
}

	
/*----SOCIAL-ICONS-----*/
	.social-icons{
		top:275px;
		width:50px;
		padding-top:100px;
        height:350px;
		margin-top:10px;
        left:5px;
	}
	
	.social-icons i{
	color:white;
	font-size:25px;
	padding-left:0px;
	margin:20px 0;
	cursor:pointer;
	width:50px;
	text-align:center;
     }

/*-----ABOUT-US----*/
.about-container{
  display:block;
}
	
.left-about i{
	display:block;
	position:absolute;
	z-index:5;
	color:#DD0000;
    font-size:200px;
	bottom:0px;
	margin-left:50%;
	transform: translateX(-50%);

}
.left-about{
  position:relative;
  z-index:1;
  width:100%;
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("RDC2.png");
  background-position:50% 0px;
  background-size:contain;
  background-repeat:no-repeat;
}
.right-about{
  background:black;
}


.our-journey{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn-flightdec.userfirst.co.nz/uploads/sites/danz/files/News/SDNZrelease.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	color:#999999;
	height:850px;
	margin:0px;
	margin-top:-20px;
}
.our-journey h1{
	color:white;
	font-family:sans-serif;
	font-size:25px;
	font-weight:300;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:200px;
}
.our-journey p{
	text-align: center;
font-family: 'Poppins', sans-serif;
    line-height:20px;
    max-width:270px;
	width:250px;
	margin-left:50%;
	transform: translateX(-50%);
	font-size:13.6px;
	font-weight:600;
}
.our-alumini{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/EQ5NK7OCHNAI3PBTTDA45XYCRM.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#999999;
	height:850px;
	margin:0px;
	margin-top:-20px;
	
}
	
.our-alumini h1{
	color:white;
	font-family:sans-serif;
	font-size:25px;
	font-weight:400;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:150px;
}
.our-alumini p{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    line-height:20px;
	width:250px;
	margin-left:50%;
	transform: translateX(-50%);
	font-size:13.6px;
	font-weight:600;
}
.know-more{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://data.whicdn.com/images/220981081/original.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-origin:0px 0px;
	color:#999999;
	height:750px;
	margin:0px;
	margin-top:-20px;
}


.know-more h1{
	color:white;
	font-family:sans-serif;
	font-size:25px;
	font-weight:400;
	text-align: center;
	margin-left:50%;
	padding-top:100px;
	transform: translateX(-50%);
	border-bottom:2px solid #DD0000;
	padding-bottom:25px;
	width:200px;
}
.know-more p{
	text-align: center;
	font-family: 'Poppins', sans-serif;
    line-height:20px;
	width:250px;
	margin-left:50%;
	transform: translateX(-50%);
	font-size:13.6px;
	font-weight:600;
}


/*-------CONNECTIONS-----------*/
.connections .social-icons{
	position: relative;
	top:50%;
	z-index:1;
	background-color:transparent;
	border-radius: 10px;
	padding:30px 0px;
	position:relative;
	height:100px;
	width:250px;
	margin-left:50%;
	transform: translateX(-50%);
	margin-top:0px;
	text-align: center;
	padding-bottom:15px;
	border-bottom:2px solid grey;
}

.connections .social-icons i{
	color:white;
	font-size:50px;
	padding:0px;
	cursor: pointer;
	width:80px;
	line-height:70px;
	text-align:center;
    z-index:1;
   
}

.connections .social-icons i:hover{
	transform: scale(1.3);
	transition:0.3s;
	color:red;
}
	

	

	/*-----FOOTER----*/
#footer{

	padding-top:10px;
	height:250px;
	width:100%;
	background-color:black;
	display: inline-block;
}
	.footer-container{

	}
.footer-container a{
	
	display: block;
	text-decoration: none;
	color:white;
    font-variant:small-caps;
	padding:0px 30px;
    padding-top:0px;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size:13px;
}
.links{
			
	margin:10px 0px;
	margin-top:50px;
	margin-left:50%;
	transform:translateX(-50%);
	width:100%;
}
.footer-container a:hover{
	text-decoration:underline;
	color:#999999;
	transition:0.3s;
}

.footer-container img{
		
	margin-left:50%;
	margin-top:20px;
	
}


.footer-container .rights{
	color:white;
	width:250px;
	font-size:10px;
	margin-left:50%;
	transform:translateX(-45%);
font-family: 'Poppins', sans-serif;
}
.footer-container p{
	margin-top:30px;
	font-size:10px;
	color:white;
font-family: 'Poppins', sans-serif;

	margin-left:0px;
	padding-bottom:20px;
}
	.made{
	 position: absolute;
     float:left;
	 left:10px;
	}
.fa-heart{
	color:red;
}
	.made a{
	font-size:10px;
	display:inline;
	text-decoration:underline;
	color:white;
    font-variant:none;
	padding:0px;
font-family: 'Poppins', sans-serif;
    
	text-align:center;
	}

    .gotopbtn{
  position: fixed;
  width: 40px;
  height: 30px;
background:rgba(255,255,255,0.3);
  bottom: 110px;
  left: 10px;
  border-radius:10px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 21px;
  padding-bottom:10px;
  z-index:10;
}


}
